# LaTeX intermediate and auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.glo
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.lol
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.acn
*.acr
*.alg
*.glg
*.glsdefs
*.dvi
*.xdv

# Bibliography backup files
*~.bib
*.bak
*.bkp

# Output files
*.ps

# Editor and OS-specific
*.swp
*.swo
*.DS_Store
Thumbs.db

# Latexmk
latexmkrc
*.lmr

.vscode
.github
.venv

